/**
 * Specific editor preview style
 */

.jquery-markdown-editor {

    .preview-container {

        .content {

            padding: 15px;

            max-width: 738px;
            margin: auto;

            font: {
                family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                size: 14px;
            }
            line-height: 1.4;

            img {
                max-width: 100%;
            }

        }

    }
}
